.header {
  background-color: #F9F6F5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  animation-name: show_header;
  animation-duration: 0.3s;

  @keyframes show_header {
    0% {
      opacity: 0;
      top: -100px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 0;
}

.logo {
  margin-right: 15px;
}

.logo__image {
  width: 158px;
  height: 30px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.header__link {
  font-size: 16px;
  line-height: 1.25;
  color: $ttwo;

  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;

    width: 0%;
    height: 1px;

    background-color: $black;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s width;
  }

  &:focus {
    &::before {
      width: 40%;
    }
  }
  &:hover {
    &::before {
      width: 50%;
    }
  }
  &:active {
    &::before {
      width: 100%;
    }
  }
}

.header__user {
  display: flex;
  align-items: center;
}

.header__btn {
  width: 19px;
  height: 19px;
  line-height: 0;

  &:not(:last-child) {
    margin-right: 24px;
  }

  &:focus {
    .header__icon {
      fill: $green-light;
    }
  }

  &:hover {
    .header__icon {
      fill: $brown;
    }
  }

  &:active {
    .header__icon {
      fill: $red;
    }
  }
}

.header__icon {
  width: 19px;
  height: 19px;
  transition: fill 0.3s;
  fill: $white;
}