.hero {
  background-color: #F9F6F5;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-bottom: 100px;
}

.hero__inner {
  display: flex;
  align-items: center;

  min-height: 100vh;
}

.hero__info {
  max-width: 620px;
}

.hero__title {
  margin-bottom: 30px;
}

.hero__subtitle {
  max-width: 515px;
  margin-bottom: 30px;
}

.hero__form {
  margin-bottom: 60px;
}

.hero__link {
  max-width: 170px;
  width: 100%;
}
