.partners {
  padding: 42px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  @include adaptive-value('margin-bottom', 100, 20, 1);
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
  grid-gap: 40px;
}

// .partners__item {}

.partners__link {
  &:focus {
    .partners__icon {
      fill: $green-light;
    }
  }

  &:hover {
    .partners__icon {
      fill: $green;
    }
  }

  &:active {
    .partners__icon {
      fill: $yellow;
    }
  }
}

.partners__icon {
  width: 122px;
  height: 28px;
  fill: $tfive;
  transition: fill 0.3s;
}