.sub {
  padding: 60px 0;
  background-color: #FAFAFA;
}

.sub__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.sub__title {
  @include adaptive-value('font-size', 36, 24, 1);
  line-height: 1.3;
  color: #222222;
  justify-self: end;

  @include _768 {
    justify-self: center;
  }
}

.sub__form {
  justify-self: end;

  @include _768 {
    justify-self: center;
  }
}