// ============= FIX FOOTER ============= \\
html,
body {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

// ============= FIX FOOTER ============= \\


// ============= ACCESSIBILITY ============= \\
.sr-only {
  position: absolute;
  display: block;
  margin: -1px 0 0 -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}

// ============= ACCESSIBILITY ============= \\


// ================ OPTIONS ==================== \\
body {
  font-family: $main;
  font-weight: 400;
  @include adaptive-value('font-size', 20, 16, 1);
  line-height: 1.6;
  color: $tfive;
  background-color: $white;
}

// BURGER ACTIVE - BODY SCROLL LOCK
body.lock {
  overflow: hidden;
}

.container {
  max-width: $container + 30px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 500;
  @include adaptive-value('font-size', 56, 30, 1);
  line-height: 1.25;
  color: $black;
}

.button {
  @include adaptive-value('font-size', 18, 14, 1);
  font-weight: 500;
  color: $white;
  background-color: $brown;
  border: 1px solid $brown;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 2.5rem;

  cursor: pointer;
  transition: all 0.3s;

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba($brown, 0.5);
  }

  &:hover {
    color: $brown;
    background-color: transparent;
    border: 1px solid $brown;
  }

  &:active {
    color: rgba($black, 0.5);
    box-shadow: inset 0px 4px 4px rgba($black, 0.25);
  }

  &--white {
    color: $brown;
    background-color: transparent;
    border: 1px solid $brown;

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba($brown, 0.5);
    }

    &:hover {
      color: $white;
      background-color: $brown;
      border: 1px solid $brown;
    }

    &:active {
      color: rgba($black, 0.5);
      box-shadow: inset 0px 4px 4px rgba($black, 0.25);
    }
  }
}

// ================ OPTIONS ==================== \\