// ================== COLORS ================== \\
$white: #fff;
$black: #000;
$red: #ff4242;
$yellow: #FCD164;
$beige: #D8C1AD;
$brown: #402F2C;
$gray: #9A9494;
$purple: #A27AC9;
$orange: #FB9620;
$green: #17696a;
$green-light: #03cea4;
$ttwo: #222;
$tfive: #555;
// ================== COLORS ================== \\


// ================== FONTS =================== \\
$main: 'Red Hat Display',Arial,sans-serif;
$second: 'Roboto', Arial, sans-serif;
// ================== FONTS =================== \\


// ================= OPTIONS ================== \\
$container: 1240px;
// ================= OPTIONS ================== \\