// ================== COLORS ================== \\
$white: #fff;
$white-light: #f1f1f1;
$black: #000;
$red: #ff4242;
$yellow: #FCD164;
$beige: #D8C1AD;
$brown: #874E19;
$gray: #9A9494;
$purple: #A27AC9;
$orange: #FB9620;
$dark-blue: #0C2C7E;
$blue-gray: #C0DDED;

$gray-900: #1e212c;
$gray-800: #424551;
$gray-700: #787a80;
$gray-600: #9a9ca5;
$gray-400: #d7dadd;
$gray-300: #e5e8ed;
$gray-200: #f4f5f7;

$green: #17696a;
$green-light: #03cea4;



// ================== COLORS ================== \\


// ================== FONTS =================== \\
$main: 'Lato', Arial, sans-serif;
$second: 'Ubuntu', Arial, sans-serif;
// ================== FONTS =================== \\


// ================= OPTIONS ================== \\
$container: 1230px;
$m180: 180px;
$gap: 22.5px;
$smgap: 6px;
// ================= OPTIONS ================== \\